Q.1 Write a program whether the given list of number is lucky.  a lucky list contains at least one number is divisible by 7.

In [5]:
list=input("enter the numbers").split(" ")
for i in list:
    i=int(i)
    if i%7==0:
        print(i,":","Lucky Number")
    else:
        print(i,":","try next time!!(Not lucky)")

enter the numbers3 56 78
3 : try next time!!(Not lucky)
56 : Lucky Number
78 : try next time!!(Not lucky)

Q.2 Write a program to sum of all numbers from 1 to given number.

In [9]:
l=int(input("enter the range:"))
sum=0
for i in range(1,l+1):
    sum=sum+i
print("sum of first",l,"is",sum)

enter the range:15
sum of first 15 is 120

Q.3 Write a program to check whether the given number id armstrong or not
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [15]:
num=int(input("Enter the number :"))
temp=num
sum=0
while(num!=0):
    r=num%10
    num=num//10
    sum=sum+r**3
print("sum is:",sum)
if(sum==temp):
    print("The no is armstrong:",sum)
else:
    print("not armstrong")

Enter the number:153
sum is: 27
27 153
not armstrong
sum is: 152
152 153
not armstrong
sum is: 153
153 153
not armstrong

Q4. Write a program to print the following using while loop   
a. First 10 Even numbers   
b. First 10 Odd numbers   
c. First 10 Natural numbers   
d. First 10 Whole numbers

In [1]:
#Q-4a
i=1
num=int(input("Enter the number :"))
print("First ten odd no is:")
while(i<=num):
    if i%2!=0:
        print(i)
    i+=1

Enter the number :20
First ten odd no is:
1
3
5
7
9
11
13
15
17
19

In [4]:
#Q-4b
i=0
print("First ten even no is:")
while(i<21):
    if i%2==0:
        print(i)
    i+=1

First ten even no is:
0
2
4
6
8
10
12
14
16
18
20

In [44]:
#Q-4c
i=1
print("first ten natural no")
while(i<11):
    print(i)
    i+=1

first ten natural no
1
2
3
4
5
6
7
8
9
10

In [45]:
#Q-4d
i=0
print("first ten whole no")
while(i<11):
    print(i)
    i+=1

first ten whole no
0
1
2
3
4
5
6
7
8
9
10

Q5. Write a program to print first 10 integers and their squares using while loop.   
1 1   
2 4   
3 9 and so on

In [47]:
#Q-5
i=1
print("square of first ten integers")
while(i<11):
    print(i,":""Square of",i,"is",i**2)
    i+=1

square of first ten integers
1 :Square of 1 is 1
2 :Square of 2 is 4
3 :Square of 3 is 9
4 :Square of 4 is 16
5 :Square of 5 is 25
6 :Square of 6 is 36
7 :Square of 7 is 49
8 :Square of 8 is 64
9 :Square of 9 is 81
10 :Square of 10 is 100


Q6. Write for loop statement to print the following series:   
10
20
30 
.
.
.
 300

In [50]:
#Q-6
'''for i in range(10,301,10):
    print(i)'''
    #OR
start,end=input("Enter the range:").split(" ")
start=int(start)
end=int(end)
for i in range(start,end+1,10):
    print(i)

Enter the range:10 300
10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300

Q7. Write a while loop statement to print the following series   
105
98
91 
.
.
.
.
7

In [62]:
#Q-7
i=105
while(i>=7):
    print(i)
    i-=7

105
98
91
84
77
70
63
56
49
42
35
28
21
14
7


Q8. Write a program to enter the numbers till the user wants and at the end it should display the sum of all the numbers entered.

In [21]:
#Q-8
sum=0
while(1):
    num=int(input("enter the number"))
    sum=sum+num
    choice=input("u wish to enter the number more press 1 for yes and 0 for no: ")
    if choice=="1":
        continue
    elif choice=="0":
        break
    else:
        print("invalid choice")
        break
print("sum of all the no is:",sum)

enter the number2
u wish to enter the number more press 1 for yes and 0 for no: 1
enter the number34
u wish to enter the number more press 1 for yes and 0 for no: 8
invalid choice
sum of all the no is: 36

Q9. Write a program to enter the numbers till the user enter ZERO and at the end it should display the count and sum of positive  , negative numbers  entered.

In [26]:
#Q-9
count=0
sum1=0
sum2=0
while(1):
    num=int(input("enter the number:"))
    count+=1
    if num>=0:
        sum1+=num
    elif num<0:
        sum2+=num
    choice=input("u wish to enter more number press any no for yes and 0 for no")
    if choice=="0":
        break
    else:
        continue
print("Total no entered",count)
print("sum of positive no is:",sum1)
print("sum of negative no is:",sum2)

enter the number:34
u wish to enter more number press any no for yes and 0 for no3
enter the number:35
u wish to enter more number press any no for yes and 0 for no4
enter the number:-56
u wish to enter more number press any no for yes and 0 for no2
enter the number:45
u wish to enter more number press any no for yes and 0 for no4
enter the number:-89
u wish to enter more number press any no for yes and 0 for no4
enter the number:2
u wish to enter more number press any no for yes and 0 for no9
enter the number:-89
u wish to enter more number press any no for yes and 0 for no0
Total no entered 7
sum of positive no is: 116
sum of negative no is: -234

 Q10. Write a program to display all the numbers which are divisible by 13 but not by 3 between 100 and 500.(exclusive both numbers)

In [28]:
#Q-10
print("The numbers divisible by 13 not by 3 are:")
for i in range(101,500):
    if i%13==0 and i%3!=0:
        print(i)

The numbers divisible by 13 not by 3 are:
104
130
143
169
182
208
221
247
260
286
299
325
338
364
377
403
416
442
455
481
494

Q11. Write a program to accept 10 numbers from the user and display the largest & smallest number number.
#will do later

Q12. Write a program to print the following series till n terms.   
1
 4
 9
 16
 25
 .
.
.

 n terms.

In [39]:
#Q-12
row=int(input("enter the no of rows: "))
k=1
for i in range(1,row+1):
    for j in range(1):
        print(k*k,end="")
    k=k+1
    print(end="\n")

enter the no of rows: 20
1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400

Q. 13 Wap to take username and password from user and save it and then allow the user to sign  if he/she is authenticate user then sign happens else no . an give 5 attempts after 5 attempts if he doe not give right crenditials. then display tried next time

In [8]:
#Q-13
print('Enter username and password to sign in')
count=0
while count<5:
    username=input('Enter username: ')
    password=input('Enter password: ')
    if password=='Hello35' and username=='rupanshi_rana':
        print('authenticate user,Access granted')
        break
    elif count<5:
        print('Access denied!! Try next time.')
        count+=1
else:
    print("No more attemps!")

Enter username and password to sign in
Enter username: ee
Enter password: ee
Access denied!! Try next time.
Enter username: rupanshi_rana
Enter password: Hello35
authenticate user,Access granted

Q.14  Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [12]:
#Q-14 
print("The numbers that are div by 7 and not a multiple of 5 are:")
for i in range(2000,3201):
    if i%7==0 and i%5!=0:
        print(i,end=",")

The numbers that are div by 7 and not a multiple of 5 are:
2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

Q. 15 Write a program which accepts a sequence of comma separated 4 digit binary numbers as its input and then check whether they are divisible by 5 or not. The numbers that are divisible by 5 are to be printed in a comma separated sequence.

In [22]:
#Q-15
sequence=input("enter the 4 digits binary numbers:").split(",")
for i in sequence:
    i=int(i)
    if i%5==0:
        print("Binary number is:")
        print(i,end=",")
    else:
        print("not a binary number:",i)

enter the 4 digits binary numbers:1100,0000,1111,1010,0011
Binary number is:
1100,Binary number is:
0,not a binary number: 1111
Binary number is:
1010,not a binary number: 11

Q.1 6 Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number.Â¶

In [2]:
#Q-16
for i in range(1000,3001):
    count=0
    i=str(i)
    for ch in i:
        ch=int(ch)
        if ch%2==0:
            count=count+1
    if count==4:  #all are four digit numbers
        print(i,end=",")

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

Q .17Consider you have your own restaurant : three item choices  is there :
1: pizza
2:  burger
3:  hotdog
toppings available for pizza: paneer, mushrooms, and capsicum
fillings avialable for burger and hot dog is  single layer cheeze and double layer cheese
and side order menu is softdrinks
WAP TO CALCULATE THE COST OF ITEM which user ordered BASED ON THE MENU OF RESTAURANT'''

In [ ]:
#Q-17
print("Welcome to Taj Restaurant:")
print("Menu:")
print("1: Pizza and price of pizza is 222")
print("2: Burger and price of burger is 88")
print("3: Hotdog and price of hotdog is 111")
print("4: Side order menu")
while(1):
    choice=int(input("enter your choice:"))
    cost=0
    if choice==1:
        print("Toppings available are: paneer(Rs.100), mushrooms(Rs.80), and capsicum(Rs.60)")
        toppings=input("enter the name of topping")
        if(toppings=="Paneer"):
            cost=222+70
            print("Paneer pizza cost is:",cost)
        elif(toppings=="Mushrooms"):
            cost=222+80
            print("Mushroom pizza cost is:",cost)
        elif(toppings=="capsicum"):
            cost=222+60
            print("capsicum pizza cost is:",cost)
        else:
            print("topping not available!!")
    elif choice==2:
        print("fillings avialable for burger are single layer cheese(Rs.50) and double layer cheese(Rs.70)")
        cheese=input("enter the choice of cheese:")
        if(cheese=="single layer cheese"):
            cost=88+50
            print("single layer cheese burger cost is:",cost)
        elif(cheese=="double layer cheese"):
            cost=88+70
            print("double layer cheese burger cost is:",cost)
        else:
            print("Not available")
    elif choice==3:
        print("fillings avialable for hot dog are single layer cheese(Rs.50) and double layer cheese(Rs.70)")
        choicee=input("enter the choice of cheese:")
        if(choicee=="single layer cheese"):
            cost=111+50
            print("single layer cheese hotdog cost is:",cost)
        elif(choiceee=="double layer cheese"):
            cost=111+70
            print("double layer cheese hotdog cost is:",cost)
        else:
            print("Not available")
    elif choice==4:
        print("in side order menu we offer softdrinks:coke(Rs.50)and fanta(Rs.55), do you wish to add any")
        softdrinks=input("enter your choice for softdrinks:")
        if(softdrinks=="Coke"):
            totalcost=cost+50
            print("Total cost would be",totalcost)
        elif(softdrinks=="Fanta"):
            totalcost=cost+55
            print("Total cost would be",totalcost)
        else:
            print("not available")
    else:
        print("enter valid chice")

Welcome to Taj Restaurant:
Menu:
1: Pizza and price of pizza is 222
2: Burger and price of burger is 88
3: Hotdog and price of hotdog is 111
4: Side order menu
enter your choice:1
Toppings available are: paneer(Rs.100), mushrooms(Rs.80), and capsicum(Rs.60)
enter the name of toppingPaneer
Paneer pizza cost is: 292
enter your choice:3
fillings avialable for hot dog are single layer cheese(Rs.50) and double layer cheese(Rs.70)
enter the choice of cheese:single layer cheese
single layer cheese hotdog cost is: 161