### q.1 

### l=['a','quick','brown','fox','jumps','over','the','lazy','dog']
### 1) arrange the list in alphabetical order 
### 2) count the total letters and count of distinct letters in the list

In [4]:
l=['a','quick','brown','fox','jumps','over','the','lazy','dog']
l.sort()
print(l)

['a', 'brown', 'dog', 'fox', 'jumps', 'lazy', 'over', 'quick', 'the']

In [1]:
l=['a','quick','brown','fox','jumps','over','the','lazy','dog']
sorted(l)

['a', 'brown', 'dog', 'fox', 'jumps', 'lazy', 'over', 'quick', 'the']

In [7]:
l=['a','quick','brown','fox','jumps','over','the','lazy','dog']
unique=[]
for i in l:
    for j in i:
        unique.append(j)
print(unique)
print(len(unique))
u1=[]
for i in unique:
    if i not in u1:
        u1.append(i)
print(u1,"----unique")
print(len(u1))

['a', 'q', 'u', 'i', 'c', 'k', 'b', 'r', 'o', 'w', 'n', 'f', 'o', 'x', 'j', 'u', 'm', 'p', 's', 'o', 'v', 'e', 'r', 't', 'h', 'e', 'l', 'a', 'z', 'y', 'd', 'o', 'g']
33
['a', 'q', 'u', 'i', 'c', 'k', 'b', 'r', 'o', 'w', 'n', 'f', 'x', 'j', 'm', 'p', 's', 'v', 'e', 't', 'h', 'l', 'z', 'y', 'd', 'g'] ----unique
26

### q.2
### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [24]:
t=(1,2,3,4,5,6,7,8,9,10)
print(t[0:5])
print(t[5:10])

(1, 2, 3, 4, 5)
(6, 7, 8, 9, 10)

### q.3 
### a) Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers. 

### b) wap  to remove punctuation mark from list of string using list comprehension
l=["hello'",1'2,22'4,"hi how'r u"]

## c) Use a list comprehension to square each odd number in a list. The list is input by a sequence of comma-separated numbers.
Suppose the input is supplied to the program: 1,2,3,4,5,6,7,8,9
Then, the output should be: 1, 3, 5, 7, 9

In [40]:
l=[1,2,3,4,5,6,7,8,9]
[i*i for i in l if i%2!=0]

[1, 9, 25, 49, 81]

In [12]:
l=input("enter the elements--").split(" ")
l1=[int(num)*int(num) for num in l if int(num)%2!=0]
print(l1)

enter the elements--1 2 3 5
[1, 9, 25]

In [10]:
l=["hello'","1'2","22'4","hi how'r u"]
[i.replace("'","") for i in l ]

['hello', '12', '224', 'hi howr u']

In [45]:
l=[1,2,3,4,5,6,7,8,9]
[i for i in l if i%2!=0]

[1, 3, 5, 7, 9]

### q.4

### Find Longest String in List
l=["hello","madrid","hi how r u","i m doing good u tell","meet"]

In [54]:
l=["hello","madrid","hi how r u","i m doing good u tell","meet"]
max=0
for i in l:
    if len(i)>max:
        max=len(i)
        val=i
print("longest string is---",val)

longest string is--- i m doing good u tell

### q.5

### Display the characters at an odd position in string input by User.

In [66]:
li=input("enter the string").split(" ")
odd=[]
for i in range(len(li)):
    if i%2!=0:
        print(li[i])

enter the string12 34 hfdui 56 bjec ehrf
34
56
ehrf

### q.6

### Extract file name in this  /document/imp/salary.txt

In [16]:
s="/document/imp/salary.txt"
l=s.rsplit("/")
print(l)
print(l[3])
x=l[3]
x1=x.split(".")
x1[0]

['', 'document', 'imp', 'salary.txt']
salary.txt

'salary'

### q.7
### Write a program which accepts a sequence of comma-separated numbers from console and generate a list and a tuple which contains every number.
Suppose the input is supplied to the program: 34, 67, 55, 33, 12, 98


Then, the output should be:


['34', '67', '55', '33', '12', '98'] and ('34', '67', '55', '33', '12', '98')

In [119]:
l=input("enter the values--").split(",")
l1=[]
for i in l:
    i=str(i)
    l1.append(i)
print(l1)
print(tuple(l1))

enter the values--34,67,55,33,12,98
['34', '67', '55', '33', '12', '98']

TypeError: 'tuple' object is not callable

### q. 8

### Write a program to display second largest element of the list entered by user

In [18]:
l=input("enter the number---").split(" ")
l.sort()
print(l[-2])

enter the number---2 3 4 5 55 67 78 68
68

### q.9

### Write a program to display the most, second most and least frequent word of the list

l=["abc","bac","abc","abb","abb","abb"]

In [19]:
l=["abc","bac","abc","abb","abb","abb"]
from collections import counter
for i in l:
    print(i,"-----",l.count(i))
print(counter(l))

ImportError: cannot import name 'counter' from 'collections' (C:\Users\rupan\anaconda3\lib\collections\__init__.py)

### q.10
### Write a program that calculates and prints the value according to the given formula:
Q = Square root of [(2 * C * D)/H]


Following are the fixed values of C and H: C is 50. H is 30.

In [108]:
import math
C=50
H=30
D=1
Q=math.sqrt(2 * C * D)/H
print(Q)

0.3333333333333333

### q.11
### wap to place "hello" at even index of string.

eg: string :  "madrid"

output:    helloahellorhellod

In [117]:
s="madrid"
s1=[]
for i in range(len(s)):
    if i%2==0:
        s1.append(s[i])
    else:
        s1.append("hello")
print(s1)

['m', 'hello', 'd', 'hello', 'i', 'hello']

### q.12
## Write a program that accepts a sequence of whitespace separated words as input and prints the words after removing all duplicate words and sorting them alphanumerically.
Suppose the input is supplied to the program: hello world and practice makes perfect and hello world again

## q.13
#### You are required to write a program to sort the (name, age, score) tuples by ascending order where name is string, age and height are numbers. The tuples are input by console. The sort criteria is: 
1: Sort based on name; 
2: Then sort based on age; 
3: Then sort by score. 

 
The priority is that name > age > score. 


If the following tuples are given as input to the program: 


Tom,19,80 

John,20,90 

Jony,17,91

Jony,17,93 

Json,21,85 


Then, the output of the program should be: 
[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [21]:
n=int(input("enter the number of students--"))
l1=[]
for i in range(0,n):
    l=[]
    name=input("enter the name")
    l.append(name)
    age=input("enter the age")
    l.append(age)
    score=input("enter the score")
    l.append(score)
    t=tuple(l)
    l1.append(t)
print(l1)

enter the number of students--4
enter the namerupa
enter the age23
enter the score45
enter the namefv
enter the age33
enter the score55
enter the namehbgfzs
enter the age3
enter the score3
enter the namedew4
enter the age3
enter the score2
[('rupa', '23', '45'), ('fv', '33', '55'), ('hbgfzs', '3', '3'), ('dew4', '3', '2')]

In [22]:
sorted(l1,key=lambda t:t[0])

[('dew4', '3', '2'),
 ('fv', '33', '55'),
 ('hbgfzs', '3', '3'),
 ('rupa', '23', '45')]

In [23]:
sorted(l1,key=lambda t:t[1])

[('rupa', '23', '45'),
 ('hbgfzs', '3', '3'),
 ('dew4', '3', '2'),
 ('fv', '33', '55')]

In [24]:
sorted(l1,key=lambda t:t[2])

[('dew4', '3', '2'),
 ('hbgfzs', '3', '3'),
 ('rupa', '23', '45'),
 ('fv', '33', '55')]